.container {
    display: flex;
    min-height: 100vh;
}

:root {
    --sidebar-bg: #1e3a8a;
    --header-bg: #0a0e27;
    --main-bg: #eef2ff;
    --accent-blue: #2563eb;
    --text-white: #ffffff;
    --text-muted: #94a3b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-bg);
}

a {
    text-decoration: none;
    color: inherit;
}

.app-container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
/* .sidebar {
    width: 240px;
    background-color: var(--sidebar-bg);
    color: white;
}

.logo-section {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.main-logo {
    font-size: 2rem;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 90%;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;
    transition: 0.3s;
    color: #cbd5e1;

    opacity: 70%;
    margin-top: 20px;
}

.nav-item i {
    font-size: 1.2rem;
}

.nav-item span {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    font-weight: 600;
}

.nav-item small {
    font-weight: normal;
    font-size: 0.7rem;
    opacity: 0.8;
}

.nav-item.active {
    background-color: var(--accent-blue);
    color: white;
    opacity: 100%;
    border-radius: 10px;
} */


/* Main Content area */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-nav {
    background-color: var(--header-bg);
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1 {
    font-size: 1.4rem;
}

.brand p {
    font-size: 0.8rem;
    color: #94a3b8;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.profile-circle {
    width: 45px;
    height: 45px;
    background-color: #d1d5db;
    border-radius: 50%;
}

/* Library Section */
.library-section {
    padding: 30px 40px;
}

.library-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
}

.title-area h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.btn-create {
    background-color: var(--accent-blue);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

/* Toolbar */
.toolbar {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.search-box {
    flex: 1;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
}

.search-box input {
    border: none;
    padding: 15px;
    width: 100%;
    outline: none;
    font-size: 1rem;
}

/* .filter-container {
    position: relative;
}

.filter-btn {
    background-color: white;
    border: 1px solid #cbd5e1;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}

.filter-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    padding: 15px;
    width: 120px;
    display: none;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.filter-dropdown.show {
    display: flex;
} */

/* Deck Cards */
.deck-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 30px;
}

.deck-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


.card-top {
    height: 140px;
    position: relative;
    display: flex;
}

.card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}

.status-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}

.card-count {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgb(73, 62, 62);
    color: rgb(255, 255, 255);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
}

.fa-lock {
    color: rgb(241, 67, 67);
}

.fa-globe {
    color: rgb(87, 87, 212);
}

/* .card-icon-bg {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
} */

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.card-body p {
    font-size: 0.85rem;
    color: #64748b;
    margin-bottom: 15px;
}

.card-footer {
    padding: 15px 20px;
    border-top: 1px solid #f1f5f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: #64748b;
}

.card-actions {
    display: flex;
    gap: 15px;
    font-size: 1rem;
}

.card-actions .trash {
    color: #ef4444;
    cursor: pointer;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa,
.trash {
    cursor: pointer;
}

/* POPUP */
.container-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.popup {
    background: #E9F4FA;
    border-radius: 10px;
    width: 400px;
    color: #48798A;

    font-weight: bold;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.popup input,
.popup select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-image {
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #64748b dotted;
}

.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

}

#save {
    background: linear-gradient(to right, #008DBC, #0851E2);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
}

#cancel {
    background: #ffffff;
    color: #0090BA;
    border: 2px solid #a7f6ff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
}